DISABLE_HMR=
FIREBASE_API_KEY=
SECONDARY_WEBHOOK_URL=
SUPABASE_SERVICE_KEY=
SUPERVISOR_PIN=
SYNC_HMAC_SECRET=
VAPID_PRIVATE_KEY=
VAPID_PUBLIC_KEY=
VAPID_SUBJECT=
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_URL=
VITE_VAPID_PUBLIC_KEY=